@import url(color-source.css);

* {
   margin: 0 auto;
   padding: 0;
   box-sizing: border-box;
   color: var(--background-color-brands);
}

.brands_main {
   background-color: var(--background-color-brands);
}

.brands_wrap {
   background-image: url(../brands-background.jpg);
   background-size: cover;
   background-attachment: fixed;
   padding: 2rem 0;
}

.background_color_brands_section {
   background-color: var(--background-color-brands);
   margin: auto;
   width: 90%;
   padding: 1.5rem;
   border-radius: 10px;

}

.brands_section_flex {
   display: flex;
}

.background_color_brands_undersection {
   padding: 1rem;
   background-image: url(../brands-background.jpg);
   z-index: 1;
}

.brands_section_flex_undersection article {
   width: 50%;
}

.brands_start {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   align-items: center;
}

.highlight_brand {
   color: var(--highlight-color-brands);
}

.brands_logos {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.brands_logos img {
   margin-bottom: 15px;
}

.brands_logos img {
   width: 80px;
   height: 10%;
   filter: brightness(1) invert(1);
   object-fit: cover;
}

.highlight_brand_large {
   font-size: 1.75rem;
}

.brand_text_section p, .brand_text_section h4, .brand_text_section a{
   padding: 1em !important;
}

.brand_text_section h4 {
padding-left: 0.5em !important;
}