@import url(color-source.css);
body {
    font-family: Arial, sans-serif;
    display: flex;
}

.highlight {
    color: var(--highlight-color-brands);
}
 
.sidebar {
    width: 20%;
    padding: 10px;
    background-color: #f4f4f4;
}
 
.product-gallery {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}
 
.product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
 
.product-item {
    width: 25%;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
}
 
.product-item img {
    max-width: 100%;
    height: auto;
}
 
.product-item h4 {
    font-size: 16px;
    margin: 10px 0;
}
 
.product-item p {
    color: #555;
}
 
.product-item .price {
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--highlight-color-brands);
}
 
.remove-marker {
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 0.25em;
    display: flex;
    flex-direction: column;
    
}

.product-item .product {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.product-item .product h4{
    color:#000;
}

.highlight a {
    color: var(--highlight-color-brands);
    text-decoration: none;
}

.black-marker a {
    color: #000;
    text-decoration: none;
}

.remove-markerblack {
    list-style: none;
    gap: 0.25em;
    display: flex;
    flex-direction: column;
    padding-inline-start: 20px;
}

.product-item button {
    background-color: var(--highlight-color-brands);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: auto;
}

.product-item .sale-price {
    font-weight: bold;
    color: var(--highlight-color-brands);
}

.product-item .priceholder {
    display: flex;
    gap: 1em;
    justify-content: center;
}

.product-list {
    display: flex;
}

.priceholder .sale {
    text-decoration: line-through;
    color: #888 !important;
}

.product-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-details img {
    max-width: 50%;
    height: auto;
    margin-bottom: 20px;
}

.product-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    gap: 10px;
    flex-grow: 1;
}

.search-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
